* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #9e5c5c;
}

.stick {
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  background-color: red;
  height: 100%;
  width: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 50px;
  padding: 0 10px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  text-decoration: underline;
}
